<!DOCTYPE html>
<html>
<head>

<title>Dustin Aguilar - Web Design and Developement</title>
   
<%= stylesheet_link_tag "application", media: "all" %>
  
<%= javascript_include_tag "defaults" %>

<% javascript_include_tag "vendor/modernizr" %>

<%= csrf_meta_tags %>
   
<meta content="The Portfolio of Dustin Aguilar, a web designer and developer in Gainesville FL" name="description">
<meta content="Dustin Aguilar - Web Developement">
<meta content="website">
<meta content="http://www.dustinaguilar.com">
<meta content="http://www.dustinaguilar.com/thumbnail.png">
<meta content="201403583">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body ontouchstart="" onmouseover="">

	<header>
	  <%= render 'layouts/nav' %>
	</header>

	<section>
		<%= yield %>
	</section>

	<%= render 'layouts/footer' %>
 <script type="text/javascript">
 var _gaq = _gaq || [];    _gaq.push(['_setAccount', 'UA-5935415-5']);    _gaq.push(['_trackPageview']);    (function() {      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);    })();
  </script>
</body>
</html>